.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom css
 */

 .parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .sideBar { 
    grid-area: 1 / 10 / 13 / 13; 
    background-color:#9b9080;
    height: 100vh;
  }
  .main { 
    grid-area: 1 / 3 / 13 / 10; 
    background-color:#272522;
    height: 100vh;
  }
  .rightBar { 
    grid-area: 1 / 1 / 13 / 3; 
    background-color:rgb(83, 71, 62);
    height: 100vh;
  } 
  .Board{
    margin: auto;
    width: fit-content;

  }
  .playerInfos{

    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1px;
  }
  .boardInfosContainer{
    width: 75%;
    display: flex;
  }
  .boardProfilImage,.boardPlayersName{
    display: flex;
   color: white;
   font-weight:500;
   
  }
  .boardProfilImage{
    width: 55px;

  }
  .boardPlayersFlag{
    margin: 7px;
    padding-bottom: 2px;
  }
  .boardClock{
    background-color:#3b3834;
    font-size:xx-large;
    width: fit-content;

  }
  .boardClockContainer{
    width: 25%;
    display: flex;
    align-items: end;
    justify-content: end;
  }